<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <title><%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style_login.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>
  <div class="loginbox">
    <img src="/images/user.svg" class="avatar">
    <h1>Login Here</h1>
    <form>
      <p>Username</p>
      <input type="text" id="user" name="" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" id="pass" name="" placeholder="Enter Password">
      <button id="loginBtn">Login</button>
      <!-- <input type="submit" name="" value="Login" onclick="login(this)"> -->
      <a href="#">Lost ur password ?</a><br>
      <a href="#">Don't have an account ?</a>
    </form>
  </div>
  <script src="/javascript/login.js"></script>
</body>

</html>