<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <title>隱私權政策 - AVs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>
  <div class="content">
    <h2>隱私權政策</h2>
    <div class="privacy">
      <div class="item">
          <h3>「AVs」關於用戶隱私權的聲明</h3>
          <p>為了支持個人資料的保護，以維護線上隱私權，「AVs」謹以下列聲明，對外說明「AVs」相關網站在線上搜集用戶個人資料的方式、範圍、利用方法、以及查詢或更正的方式等事項</p>
          <p>用戶如果對於「AVs」隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件聯絡，「AVs」將儘快回覆說明。</p>
      </div>
      <div class="item">
          <h3>用戶資料取得</h3>
          <p>原則上，用戶進入「AVs」App時，並不需要輸入個人資料，例如姓名或電子郵件地址等，除非明確告知，「AVs」不會在用戶不知情的情況下，取得用戶此等個人資料</p>
          <p>「AVs」會記錄用戶在App內的瀏覽活動等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善「AVs」App的服務品質，這些資料也只是總量上的分析，不會和特定個人相連繫。</p>
      </div>
      <div class="item">
          <h3>個人資料的利用</h3>
          <p>「AVs」App所取得的個人資料，都僅供「AVs」於其內部、依照原來所說明的使用目的和範圍加，除非事先說明、或依照相關法律規定，否則「AVs」不會將用戶個人資料提供給第三人、或移作其他目的使用。</p>
      </div>
      <div class="item">
          <h3>資料安全</h3>
          <p>「AVs」將盡力以合理之技術及程序，保障所有個人資料之安全。</p>
      </div>
      <div class="item">
          <h3>連結</h3>
          <p>「AVs」相關網站或網頁都可能包含其他網站或網頁的連結，對於此等不屬於「AVs」之網站或網頁，不論關於其內容或隱私權政策，均與「AVs」無關。</p>
      </div>
    </div>
  </div>
</body>

</html>