<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <title>AVs - 隱私權政策</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>
    <div class="banner">

    </div>
    <div class="content">
        <h2>隱私權政策</h2>
        <p>
            非常歡迎您光臨「AVs」（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
        </p>
        <div class="privacy">
            <div class="item">
                <h3>一、隱私權保護政策的適用範圍</h3>
                <p>隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。</p>
            </div>
            <div class="item">
                <h3>二、個人資料的蒐集、處理及利用方式</h3>
                <p>原則上，用戶進入「AVs」App時，並不需要輸入個人資料，例如姓名或電子郵件地址等，除非明確告知，「AVs」不會在用戶不知情的情況下，取得用戶此等個人資料</p>
                <p>於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。</p>
                <p>「AVs」會記錄用戶在App內的瀏覽活動等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善「AVs」App的服務品質，這些資料也只是總量上的分析，不會和特定個人相連繫。</p>
            </div>
            <div class="item">
                <h3>三、資料安全</h3>
                <p>本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。</p>
                <p>本網站將盡力以合理之技術及程序，保障所有個人資料之安全。</p>
            </div>
            <div class="item">
                <h3>四、網站對外的相關連結</h3>
                <p>本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。</p>
            </div>
            <div class="item">
                <h3>五、與第三人共用個人資料之政策</h3>
                <p>本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。前項但書之情形包括不限於：</p>
                <ul>
                    <li>
                        法律明文規定。
                    </li>
                    <li>
                        為免除您生命、身體、自由或財產上之危險。
                    </li>
                    <li>
                        與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集者依其揭露方式無從識別特定之當事人。
                    </li>
                    <li>
                        當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。
                    </li>
                    <li>
                        有利於您的權益。
                    </li>
                    <li>
                        法律明文規定。
                    </li>
                </ul>
            </div>
            <div class="item">
                <h3>六、Cookie之使用</h3>
                <p>為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導至網站某些功能無法正常執行
                    。</p>
            </div>
            <div class="item">
                <h3>七、隱私權保護政策之修正</h3>
                <p>本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。</p>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</body>

</html>